a.bouton3 {
    padding: 10px 30px;
    background: #FC7F3C;
    color: #000000;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #46a28d;
}

a.bouton3:hover {
    background: #34393E;
    color: #5EB6DD;
}